.impact {
    background-color: var(--white-color);
    padding: 40px 0;
}

.impact__top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 14vh;
    column-gap: 40px;
}

.impact__stats {
    grid-column: 2/3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.impact__text, .impact__title {
    z-index: 1;
}

.impact__stats-number {
    font-size: 18vh;
    color: var(--accent-color);
}

@media (max-width: 775px) {
    .impact__top {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 475px) {
    .impact__stats {
        display: flex;
        flex-direction: column;
    }
    .impact__top {
        row-gap: 20px;
    }
    .impact__stats-item {
        max-width: 150px;
    }
}