.prefooter {
    background-color: var(--accent-color);
    position: relative;
}

.prefooter__title {
    font-size: 40vh;
    color: var(--white-color);
    position: absolute;
    left: 1%;
    top: 1%;
    text-transform: uppercase;
}

@media (max-width: 575px) {
    .prefooter__title {
        font-size: 140px;
    }
}
@media (max-width: 400px) {
    .prefooter__title {
        font-size: 90px;
    }
}