.slider {
    background-color: var(--white-color);
    padding: 20px 0;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider__title {
    text-align: center;
    margin: 70px auto;
}

.slide__img {
    max-width: 700px;
    width: 100%;
}

.slider-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 80px;
    height: 40px;
    padding: 0;
    border: 1px solid var(--black-color);
    transition: all 0.2s ease-in-out;
    border-radius: 30px;
}

.slider-button:hover, .slider-button:hover::before {
    border-color: var(--accent-color);
}

.slider-button::after {
    display: none;
}
.slider-button::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 15px;
    height: 15px;
    transition: all 0.2s ease-in-out;
}

.swiper-button-next::before {
    border-right: 2px solid var(--black-color);
    border-bottom: 2px solid var(--black-color);
    transform: translate( -70%, -50%) rotate(-45deg);
}
.swiper-button-prev::before {
    border-left: 2px solid var(--black-color);
    border-top: 2px solid var(--black-color);
    transform: translate( -30%, -50%) rotate(-45deg);
}

.slider__controls {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
}